* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #ffff;
}


.clock-text {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: font-size 0.3s ease-in-out;
  width: 100%;
}

.clock-text:hover {
  font-size: 32px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);


}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* vertically center */
  min-height: 100vh;
  background-color: #212121;
}

.container {
  position: relative;

}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));

  /*360/12=30*/
  inset: 12px;
  text-align: center;

}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 20px;
}

.clock::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffff;
  z-index: 2;

}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all linear 0.1s;
}

.hand i {
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: var(--h);
  border-radius: 8px;
}

.footer {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.button {
  position: relative;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::before {
  content: "@NawinKumarSharma";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg, #7b4397, #dc2430);
  transform: translate(0%, 90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::after {
  content: "I'm here";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%, -100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  transform: translate(0%, 0%);
}

.button:hover::after {
  transform: translate(0%, -200%);
}

.button:focus {
  outline: none;
}

.button:active {
  scale: 0.95;
}